body {
  margin-top: 50px;
}

#submitButton {
  text-align: center;
  margin:20px 0 20px 0;
}
.carousel {
  max-height: 700px;
  overflow: hidden;
}

.carousel-inner .item img {
    margin: 0 auto;
}

.carousel-indicators {
  bottom:0;
}
